{
    "sourceType": "unambiguous",
    "presets": [
        "@babel/typescript",
        ["@babel/preset-env", {
            "targets": {
                "browsers": ["> 0.5%", "last 2 versions", "ie >= 11", "edge >= 12", "firefox >= 50", "chrome >= 50"]
            },
            "modules": false,
            "useBuiltIns": "usage",
            "corejs": 3
        }]
    ],
    "plugins": [
        "@babel/plugin-transform-typescript",
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ]
}
